.stockflux-news {
  height: 100%;
  background-color: var(--window-background-color);
}

.tab-bar {
  height: var(--tabbar-height);
  display:flex;
  flex-direction: row;      
  
}

.news-tab {
  flex-grow:1;
  border: var(--window-divider) 1px solid;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-left: 6px;
  padding-right: 6px;
}

.news-tab:hover {
  background-color: var(--color-hover);
}

.container {
  max-height: 700px;
  height: calc(100vh - (var(--tabbar-height) + var(--titlebar-height)));
}

.icons {
  white-space: nowrap;
}

.no-articles {
  padding: var(--padding-medium);
  display: flex;
  height: var(--no-article-height);
  justify-content: center;
  font-size: var(--font-large);
  color: var(--text-grey-lighter);
  font-weight: var(--font-weight-bold);
}

.spin-container {
  padding: var(--padding-medium) 0;
  height: 46px;
}