.app-shortcut {
  margin: 5px;
  color: var(--text-teal-light);
  border: solid 1px var(--text-teal);
  border-radius: 20px;
  width: 40px;
  height: 40px;
  outline: none;
  cursor: pointer;
  background-color: #1a212a;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.app-shortcut:hover svg {
  color: #37d8bc;
}

.app-shortcut svg {
  height: 28px;
  width: 20px;
}
