.toolbar {
  display: flex;
  align-items: center;
  padding-right: 24px;
  padding-bottom: 12px;
}

.left .toolbar,
.right .toolbar {
  flex-direction: column;
}

.left .toolbar button,
.right .toolbar button {
  margin: 5px 0;
}

.toolbar button.round svg {
  padding: 0;
}

.toolbar button.round svg:hover {
  box-shadow: inset 0 0 0 1000px #1B3B56;
}

svg {
  color: white;
}
