.titlebar {
    background-color: var(--titlebar-color);
    border: none;
    display: inline-block;
    height: 100%;
    width: 100%;
    -webkit-app-region: drag;
}

.column {
    border: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.add-padding-left {
    padding-left: 24px;
}

.column-left {
    float: left;
    -webkit-app-region: no-drag;
}

.add-padding-right {
    padding-right: 12px !important;
}

.column-right {
    float: right;
    -webkit-app-region: no-drag;
}

.title {
    color: #FFFFFF;
    font-size: 21px;
}

.title-light {
    font-family: 'Roboto Light';
}

.title-strong {
    font-family: 'Roboto Medium';
}

.titlebar-title {
    width: 100%;
    -webkit-app-region: no-drag;
}

.title-vertical {
    padding-bottom: 28px;
    padding-left: 40%;
    padding-top: 8px;
}

.icons-container {
    -webkit-app-region: no-drag;
}

.titlebar-container > .icons-container > .button-icon {
    height: 15px;
}

.header-icon {
    color: #FFFFFF;
    display: inline-block;    
    cursor: pointer;
    padding:8px;
    z-index: 1;
}

.header-icon:hover {
  background-color: var(--icon-hover-light);
}