.tbody {
  display: grid;
}

.scrollable {
  max-height: calc(
    var(--window-height) - var(--page-header-height) - var(--titlebar-height) -
      var(--row-height) - 4px
  );
  overflow: overlay;
}
