.alerts {
  margin: auto;
}

ul {
  padding-right: 40px;
}

li,
p {
  font-size: var(--font-xlarge);
  margin: var(--margin-small);
}

.error {
  color: #ff5555;
}

.success {
  color: var(--success-green);
}
