.add-security-button-small > button,
.add-security-button-large > button {
    border: solid 1px var(--text-teal);
    background: none;
    font-family: var(--font-roboto-sans-serif);
    color: var(--text-teal-light);
    font-weight: var(--font-weight-bolder);
    border-radius: 25px;
    text-align: center;
}

.add-security-button-small > button:hover,
.add-security-button-large > button:hover {
  color: var(--text-teal);
}

.add-security-button-small > button {
  height: 30px;
  width: 180px;
  font-size: var(--font-xlarge);
}

.add-security-button-large > button {
  height: 50px;
  width: 250px;
  font-size: var(--font-xxxlarge);
}