.confirmation-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirmation-message-container {
  font-size: var(--font-medium);
  font-weight: var(--font-weight-bold);
  margin: var(--margin-large) 0 var(--margin-medium) 0;
}

.yes-no-button-container {
  display: flex;
  flex-direction: row;
}

.yes-button,
.no-button {
  margin: var(--margin-small);
}
