.input-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--margin-large);
}

.input-form-body {
  display: flex;
  flex-direction: column;
}

.input-form-title {
  padding: var(--padding-large);
  font-weight: var(--font-weight-bolder);
  margin: var(--margin-small);
  font-size: var(--font-xxxlarge);
}

.input-form-spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-checkbox-container,
.input-row {
  display: flex;
  flex-direction: row;
  margin: var(--margin-small) 0;
  align-items: center;
}

.input-label {
  font-size: var(--font-xlarge);
  font-weight: var(--font-weight-bolder);
  margin: var(--margin-small);
  flex-basis: 80px;
}

.input-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--margin-medium) 0 var(--margin-large) 0;
}

.input-delete-button,
.input-submit-button {
  margin: var(--margin-small) 0;
}

.input-submit-button.in-progress > button {
  outline: none;
  color: var(--text-grey-darkest);
  border-color: var(--text-grey-darkest);
}

.back-button {
  position: fixed;
  top: 30px;
  left: 0px;
  padding: var(--padding-large) 0 var(--padding-large) var(--padding-medium);
  font-weight: var(--font-weight-bolder);
  margin-left: var(--margin-small);
}

.back-button > button {
  border: solid 1px var(--text-teal);
  background: none;
  font-family: var(--font-roboto-sans-serif);
  color: var(--text-teal-light);
  font-weight: var(--font-weight-bold);
  border-radius: 20px;
  height: 30px;
  width: 70px;
  cursor: pointer;
}

.back-button > button:hover {
  color: var(--text-teal);
}

.back-button > button:focus {
  outline: none;
  color: var(--text-grey-darkest);
  border-color: var(--text-grey-darkest);
}
