.securities-container {
  overflow: hidden;
  font-size: var(--font-normal);
  font-weight: var(--font-weight-normal);
}

.securities-title {
  padding: var(--padding-small) 0 var(--padding-small) var(--padding-small);
  font-weight: var(--font-weight-bolder);
  margin-left: var(--padding-small);
  font-size: var(--font-xxxlarge);
}

.header-container {
  border-top: 1px solid var(--clr-divider-dark);
}

.header-container,
.securities-table-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: var(--margin-small);
}

.securities-table-header {
  font-size: var(--font-xlarge);
  font-weight: var(--font-weight-bolder);
}

.table-body {
  height: 400px;
  border-bottom: 1px solid var(--clr-divider-dark);
}

.securities-exchange-data {
  grid-column: 1;
}

.securities-symbol-data {
  grid-column: 2;
}

.securities-name-data {
  grid-column: 3;
}

/* overrides the default shifting of the scroll component */
.table-body .scrollPaddingRight:hover {
  padding-right: 0;
}

.securities-table-header,
.securities-exchange-data,
.securities-symbol-data,
.securities-name-data {
  padding: var(--margin-medium) var(--margin-small);
  border-bottom: 1px solid var(--clr-divider-light);
  border-left: 1px solid var(--clr-divider-light);
}
