.securities-container {
  overflow: hidden;
  font-size: var(--font-normal);
  font-weight: var(--font-weight-normal);
}

.securities-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--margin-medium);
}

.securities-title {
  padding: var(--padding-large) 0 var(--padding-large) var(--padding-medium);
  font-weight: var(--font-weight-bolder);
  margin-left: var(--padding-small);
  font-size: var(--font-xxxlarge);
}

.add-securities-button-above-table {
  margin: var(--margin-small) var(--margin-medium) var(--margin-small) 0;
}

.header-container {
  border-top: 1px solid var(--clr-divider-dark);
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.8fr;
}

.securities-table-header {
  font-size: var(--font-xlarge);
  font-weight: var(--font-weight-bolder);
}

.securities-exchange-data {
  grid-column: 1;
}

.securities-symbol-data {
  grid-column: 2;
}

.securities-name-data {
  grid-column: 3;
}

.securities-table-header {
  padding: var(--margin-medium) var(--margin-large);
  border-bottom: 1px solid var(--clr-divider-light);
  border-left: 1px solid var(--clr-divider-light);
}

.table-deleting-spinner-container,
.securities-message-container {
  margin-top: var(--margin-large);
  display: flex;
  align-items: center;
  justify-content: center;
}

.securities-message-container.no-securities,
.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}
