:root {
  --table-body-height: 400px;
}

.securities-container {
  overflow: hidden;
  font-size: var(--font-normal);
  font-weight: var(--font-weight-normal);
}

.securities-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--margin-medium);
}

.securities-title {
  padding: var(--padding-large) 0 var(--padding-large) var(--padding-medium);
  font-weight: var(--font-weight-bolder);
  margin-left: var(--padding-small);
  font-size: var(--font-xxxlarge);
}

.add-securities-button-above-table {
  margin: var(--margin-small) var(--margin-medium) var(--margin-small) 0;
}

.header-container {
  border-top: 1px solid var(--clr-divider-dark);
}

.header-container,
.securities-table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
}

.securities-table-row:last-child > div {
  border-bottom: none;
}

.securities-table-header {
  font-size: var(--font-xlarge);
  font-weight: var(--font-weight-bolder);
}

.table-body {
  border-bottom: 1px solid var(--clr-divider-dark);
}

.securities-exchange-data {
  grid-column: 1;
}

.securities-symbol-data {
  grid-column: 2;
}

.securities-name-data {
  grid-column: 3;
}

/* overrides the default shifting of the scroll component */
.table-body .scrollPaddingRight:hover {
  padding-right: 0;
}

.securities-row-options,
.securities-table-header,
.securities-exchange-data,
.securities-symbol-data,
.securities-name-data {
  padding: var(--margin-medium) var(--margin-large);
  border-bottom: 1px solid var(--clr-divider-light);
  border-left: 1px solid var(--clr-divider-light);
}

.table-deleting-spinner-container,
.securities-message-container {
  margin-top: var(--margin-large);
  display: flex;
  align-items: center;
  justify-content: center;
}

.securities-message-container.no-securities,
.spinner-container,
.no-securities-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: var(--table-body-height);
}

.no-securities-container {
  text-align: center;
  border-bottom: 1px solid var(--clr-divider-light);
}

.no-securities-message {
  font-weight: var(--font-weight-bolder);
  font-size: var(--font-xxxlarge);
  padding: var(--margin-medium) var(--margin-medium);
}

.securities-edit-button > button:focus,
.securities-delete-button > button:focus {
  outline: none;
}

.securities-edit-button > button,
.securities-delete-button > button {
  border: none;
  background: none;
  color: var(--text-teal-light);
  cursor: pointer;
}

.securities-edit-button > button:hover,
.securities-delete-button > button:hover {
  color: var(--text-teal);
}

.securities-row-options {
  display: flex;
}
