{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "prettier", "react-app"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier"],
  "rules": {
    "no-case-declarations": "off",
    "no-console": [
      "error",
      {
        "allow": ["error"]
      }
    ],
    "no-multi-str": "off",
    "no-trailing-spaces": "error",
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "prettier/prettier": "error",
    "quotes": ["error", "single"],
    "react-hooks/exhaustive-deps": "warn",
    "semi": ["error", "always"]
  }
}
