{
  "root": true,
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true
  },
   "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
  },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-indent": ["error", 4],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "arrow-parens": ["error", "always"],
    "no-console": 0,
    "indent": ["error", 4],
    "comma-dangle" : 0,
    "prefer-template": 1,
    "padded-blocks": 0,
    "max-len": 0,
    "class-methods-use-this": 0,
    "jsx-a11y/img-has-alt": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ["test/**", "openfin-config/**", "openfin-launcher/**", "webpack/**", "**/*.dev*"],
      "optionalDependencies": false
    }]
  },
  "plugins": [
    "react",
    "import",
    "jsx-a11y"
  ]
}
