button.submit {
  margin: var(--margin-small) 0;
  height: 40px;
  width: 280px;
  color: var(--text-teal);
  font-size: var(--font-normal);
}

label {
  font-size: var(--font-small);
  letter-spacing: 1px;
  margin-left: 0px;
  margin-bottom: 3px;
  color: var(--text-teal-light);
}

span.input {
  display: grid;
  margin: 15px 0;
}
