@import url(https://fonts.googleapis.com/css?family=Roboto:400, 100, 300, 500);

div#root {
  background-color: var(--window-background-color);
  height: 100vh;
  overflow: hidden;
  display: inline-flex;
}

body {
  border: none;
  border-left: 5px solid #21b1ca;
}

.notification > * {
  margin-top: auto;
  margin-bottom: auto;
}

.notification .icon {
  margin: auto 20px;
  height: 28px;
  width: 44px;
  animation: eyeGif 2s ease-in 1s forwards;
}

p {
  padding-right: var(--padding-large);
}

@keyframes eyeGif {
  0% {
    background: url('./animation-assets/eye_outline_animation_1.svg') no-repeat;
  }
  6% {
    background: url('./animation-assets/eye_outline_animation_2.svg') no-repeat;
  }
  12% {
    background: url('./animation-assets/eye_outline_animation_3.svg') no-repeat;
  }
  16% {
    background: url('./animation-assets/eye_outline_animation_4.svg') no-repeat;
  }
  20% {
    background: url('./animation-assets/eye_outline_animation_5.svg') no-repeat;
  }
  24% {
    background: url('./animation-assets/eye_outline_animation_6.svg') no-repeat;
  }
  32% {
    background: url('./animation-assets/eye_outline_animation_7.svg') no-repeat;
  }
  38% {
    background: url('./animation-assets/eye_outline_animation_8.svg') no-repeat;
  }
  40% {
    background: url('./animation-assets/eye_outline_animation_9.svg') no-repeat;
  }
  50% {
    background: url('./animation-assets/eye_outline_animation_10.svg') no-repeat;
  }
  60% {
    background: url('./animation-assets/eye_outline_animation_11.svg') no-repeat;
  }
  100% {
    background: url('./animation-assets/eye_outline_animation_11.svg') no-repeat;
  }
}

.notification {
  display: flex;
}
