body {
    -webkit-user-select: none;
}

#app, .main, body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.main-content {
    margin-left: var(--sidebar-width);
}
.main {
    background-color: var(--dark-background);
    padding: 0;
}

#showcase-container {
    position: absolute;
    top: var(--toolbar-height);
    right: 0;
    bottom: 0;
    left: 0;
}

#showcase-container .row.primary-row {
    margin-left: -5px;
}

.button-icon {
    display: inline-block;
    width: var(--icons-size);
    height: 100%;
    background-position: 50% 80%;
    background-repeat: no-repeat;
    transition: var(--icon-transition-duration) all;
    cursor: pointer;
}

.disable-transitions {
    transition: none !important;
}

.disable-pointer {
    pointer-events: none;
}

#showcase-title {
    color: var(--chart-teal);
    position: relative;
    top: 5px;
    left: 20px;
    z-index: 10;
    display: inline-block;
}
#showcase-title .code, 
#showcase-title .name {
    display: inline-block;
}
  
#showcase-title .code {
    font: 18px var(--font-weight-bolder);
}
  
#showcase-title  .name {
    font: 14px var(--font-weight-normal);
}

.no-favourites-image {
    max-width: 1060px;
    max-height: 500px;
    width: 100%;
    position: relative;
    -webkit-user-drag: none;
}

.close, .close:hover {
    opacity: 1;
}