.bubble-head {
    position: relative;
    left: 195px;
    top: 117px;
    width: var(--bubble-head-width);
    height: var(--bubble-head-height);
    transform: rotate(45deg);
    background-color: var(--clr-light-background);
}

.confirmation-backdrop {
    cursor: default !important;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
    outline: 0;
    display: block;
    pointer-events: all !important;
}

.flipped,
.confirmation-modal {
    box-shadow: 2px 2px, var(--clr-dark-background);
}

.confirmation-modal {
    position: absolute;
    left: 12px;
    width: 204px;
    cursor: default !important;
}

.confirmation-content {
    pointer-events: all;
    cursor: default;
    background-color: var(--clr-light-background);
    padding: 6px;
}

.confirmation-content .message {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-thin);
    line-height: 1.4;
    text-align: left;
    cursor: default;
}

.buttons {
    text-align: center;
}

.confirmation-content button {
    color: inherit;
    margin: 10px 0 6px 0;
    width: 90px;
    border-radius: 0;
    border: none;
    pointer-events: all;
    padding: 5px 0;
    pointer-events: all;
    background-color: var(--clr-dark-background);
}