.titlebarContainer {
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row-reverse;
  height: var(--titlebar-height);
  background-color: var(--dark-background);
}

.icons {
  display: inline-block;
  display: flex;
  align-items: center;
  -webkit-app-region: no-drag;
}

.icons > * {
  height: 15px;
}
