.titlebar-container {
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row-reverse;
  height: var(--titlebar-height);
  background-color: var(--dark-background);
}

.titlebar-container > .icons-container {
  display: flex;
  align-items: center;
  -webkit-app-region: no-drag;
}

.titlebar-container > .icons-container > .button-icon {
  height: 15px;
}
