html {
  background-color: var(--middle-background);
}

.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--text-grey);
  display: flex;
  flex-wrap: wrap;
}

.none,
.top {
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px var(--text-teal);
  align-items: center;
}

.left,
.right {
  flex-direction: column;
  justify-content: space-between;
}

.right {
  border-left: solid 1px var(--text-teal);
}

.left {
  border-right: solid 1px var(--text-teal);
}

.drag-handle {
  -webkit-app-region: drag;
}
