:root {
  --icon-active: #29E9E3;
  --icon-inactive: #8A96A6;
  --icon-hover-light: rgb(27,59,86, 0.15);
  --launcher-color: #0D2437;
  --search-input-min-width: 250px;
  --search-input-width: 396px;
  --search-input-height: 30px;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}
