:root {
  /* Fonts ----------------------------*/
  /*-----------------------------------*/
  --font-roboto-sans-serif: "Roboto",
    sans-serif;

  /* Colors ---------------------------*/
  /*-----------------------------------*/
  --dragging-background: #2e5356;
  --chart-teal: #37d8bc;

  /* Dimensions -----------------------*/
  /*-----------------------------------*/
  --card-height: 120px;
  --card-width: 532px;
  --bubble-head-width: 10px;
  --bubble-head-height: 10px;

  /* Minichart Variables --------------*/
  /*-----------------------------------*/
  --minichart-width: 153px;
  --minichart-height: 60px;
  --chart-stroke: var(--chart-teal);

  /* Other ----------------------------*/
  /*-----------------------------------*/
  --transition-duration-quick: 0.25s;
  --transition-duration-quickest: 0.01s;
  --shadow-depth: 2px;
}
