<?xml version='1.0' encoding='utf-8'?>
<widget id="com.scottlogic.bitflux" version="1.8.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BitFlux</name>
    <description>
        A cross-platform financial charting application to showcase the functionality of d3fc components.
    </description>
    <author email="enquiries@scottlogic.com" href="http://www.scottlogic.com">
        Scott Logic
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="Orientation" value="all" />
    </platform>
    <icon src="res/icon.png" />
    <preference name="DisallowOverscroll" value="true"/>
</widget>
