.round {
  border-radius: 100%;
  height: 35px;
  width: 35px;
  display: inline-block;
  margin: 5px;
  color: var(--text-teal-light);
  border: solid 2px var(--text-teal);
  outline: none;
  background-color: inherit;
  cursor: pointer;
  padding: 6px;
}

.small {
  height: 28px;
  width: 28px;
}

.round svg {
  margin: auto;
  display: block;
}

.small svg {
  height: 20px;
  width: 20px;
  padding: 0;
}

.round:hover {
  color: var(--text-teal-light);
  border-color: var(--text-teal-light);
}

.round:active {
  background-color: var(--middle-background-lighter);
}

.round:disabled {
  color: var(--light-background);
  border: solid 1px var(--light-background);
  cursor: default;
}

.round:disabled:hover {
  background-color: inherit;
}

.round:not(:disabled):active {
  background-color: var(--middle-background-lighter);
}
