.app-shortcuts {
  display: flex;
  align-items: center;
}

.left .app-shortcuts,
.right .app-shortcuts {
  flex-direction: column;
}

.app-shortcuts > .app-shortcut:hover {
  background-color: var(--middle-background-light);
}

.app-shortcuts > .app-shortcut:active {
  background-color: var(--middle-background-lighter);
}
