input {
  color: var(--text-teal-light);
  border: solid 1px var(--text-teal);
  font-size: var(--font-large);
  background-color: var(--dark-background);
  border-radius: 25px;
  padding: var(--padding-small) var(--padding-medium);
  margin: var(--margin-small);
}

input.read-only {
  color: var(--text-grey);
  border: solid 1px var(--text-grey-darkest);
}

input:focus {
  outline: none;
}
