* {
  box-sizing: border-box;
  color: var(--clr-white);
}

body {
  background-color: var(--middle-background);
  font-family: var(--font-roboto-sans-serif);
  color: var(--text-grey-lighter);
  user-select: none;
  margin: 0;
  border: 1px solid var(--dark-background);
  border-bottom: none;
}

.watchlist-name {
  margin-top: auto;
  margin-bottom: auto;
}

input[type="text"]#watchlist-name {
  background-color: inherit;
  padding: 5px;
  padding-right: 0;
  border: none;
  font-weight: var(--font-weight-bolder);
  font-size: var(--font-xxxlarge);
  margin-left: calc(var(--padding-large) - 10px);
  font-size: var(--font-xxxlarge);
  width: 182px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input#watchlist-name::placeholder {
  color: var(--text-grey);
}

input#watchlist-name:focus {
  outline: none;
}

.watchlist {
  height: calc(100vh - var(--bottom-tab-height));
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  flex: 0 0 auto;
  display: flex;
  height: var(--toolbar-height);
  border-bottom: 1px solid var(--dark-background);
}

.scroll-wrapper {
  flex: 1 1 auto;
  position: relative;
  overflow-y: overlay;
  overflow-x: hidden;
  transition: 0.6s all;
}

.icon-clickable {
  cursor: pointer;
}

.no-watchlist {
  padding: 12px 15px 12px 20px;
  color: var(--text-grey);
  font-size: 10.5pt;
  font-weight: var(--font-weight-normal);
}

.card-wrapper {
  cursor: pointer;
  border-width: 1px 0;
  max-height: calc(var(--card-height) * 2);
  border-bottom: 1px solid var(--clr-divider-light);
}

.card-wrapper * {
  transition: var(--transition-duration-quick) all;
}

.card-wrapper * .icon-right {
  pointer-events: all;
}

.card-wrapper.dragging {
  transition-delay: var(--transition-duration-quickest);
  transition-property: max-height, padding;
  max-height: 0;
}

.card-wrapper.dragging * {
  opacity: 0;
}

.card-wrapper.dragOverBottom,
.card-wrapper.dragOver,
.card-wrapper.dragging {
  background-color: var(--dragging-background);
}

.card-wrapper.dragOver {
  padding-top: var(--card-height);
}

.card-wrapper.dragOverBottom {
  padding-bottom: var(--card-height);
}