.scrollWrapperY {
  flex: 1 1 auto;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-transition: 0.6s padding-right;
  transition: 0.6s padding-right;
  height: inherit;
}

.scrollPaddingRight:hover {
  padding-right: 13px;
  overflow: overlay;
}
