body {
  background-color: var(--middle-background);
  font-family: var(--font-roboto-sans-serif);
  color: var(--text-grey-lighter);
  user-select: none;
  margin: 0;
  border: 1px solid var(--dark-background);
  overflow-y: hidden;
  -webkit-user-select: none;
}
#app,
.main,
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  background-color: var(--dark-background);
  padding: 0;
}
