body {
  background-color: var(--middle-background);
  font-family: var(--font-roboto-sans-serif);
  color: var(--text-grey-lighter);
  margin: 0;
  border: 1px solid var(--dark-background);
  overflow-y: hidden;
}
