.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: var(--margin-large);
  font-weight: var(--font-weight-bolder);
  font-size: var(--font-xxxlarge);
}

.btn-add-security {
  margin: var(--margin-small) var(--margin-medium);
}
