.stockfluxNews {
  height: 100%;
  background-color: var(--middle-background);
}

.header {
  justify-content: center;
  font-size: var(--font-xxlarge);
  color: var(--text-grey-lighter);
  font-weight: var(--font-weight-bolder);
  padding: 10px;
  display: flex;
  height: var(--header-height);
  border-bottom: 1px solid var(--chart-teal);
}

.container {
  max-height: 700px;
  height: calc(100vh - (var(--header-height) + var(--titlebar-height)));
}

.noArticles {
  padding: 10px;
  display: flex;
  height: var(--no-article-height);
  justify-content: center;
  font-size: var(--font-large);
  color: var(--text-grey-lighter);
  font-weight: var(--font-weight-bold);
}

.spinContainer {
  padding: 10px 0;
  height: 46px;
}