.stockfluxNews {
  height: 100%;
  background-color: var(--middle-background);
}

.header {
  justify-content: center;
  font-size: var(--font-xxlarge);
  color: var(--text-grey-lighter);
  font-weight: var(--font-weight-bolder);
  padding: 10px;
  display: flex;
  height: 20px;
}

.container {
  max-height: 700px;
  height: calc(100vh - 75px);
}

.header:after {
  content: '';
  width: 100%;
  background: var(--chart-teal);
  display: block;
  height: 1px;
  margin-top: 30px;
  position: absolute;
}

.noArticles {
  padding: 10px;
  display: flex;
  height: 20px;
  justify-content: center;
  font-size: var(--font-large);
  color: var(--text-grey-lighter);
  font-weight: var(--font-weight-bold);
}

.spinContainer {
  padding: 10px 0;
  height: 46px;
}