:root {
  --chart-teal: #37d8bc;
}

.stockflux-news {
  height: 100%;
  background-color: var(--middle-background);
}

.stockflux-header {
  justify-content: center;
  font-size: var(--font-xxlarge);
  color: var(--text-grey-lighter);
  font-weight: var(--font-weight-bolder);
  padding: 10px;
  display: flex;
  height: 20px;
}

.newsitems-container {
  border-top: 1px solid var(--chart-teal);
  overflow-y: auto;
  max-height: 330px;
}

.no-articles {
  padding: 10px;
  display: flex;
  height: 20px;
  justify-content: center;
  font-size: var(--font-large);
  color: var(--text-grey-lighter);
  font-weight: var(--font-weight-bold);
}