.star {
  cursor: pointer;
}

.bubble-head {
  .bubble-head(@left: 242px, @top: 75px);
}

.confirmation-backdrop {
  cursor: default;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  .no-overflow;
  outline: 0;
  display: block;
  .confirmation-modal {
    position: relative;
    width: 204px;
    left: 200px;
    top: 80px;
    .confirmation-content {
      .message {
        .font(12px, @font-thin, 1.4);
        text-align: left;
      }
      .buttons {
        text-align: center;
        button {
          margin: 10px 0 6px 0;
          width: 90px;
          border-radius: 0;
          border: none;
        }
      }
      background-color: @light-background;
      padding: 6px;
    }
  }
}
