.star {
  cursor: pointer;
}

.confirmation-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  display: block;
  .confirmation-modal {
    position: relative;
    width: 60%;
    margin: 100px auto;
    .modal-content {
      .header{
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        .title {
          padding-top: 1px;
          font-size: 20px;
          font-weight: 500;
          line-height: 1;
        }
        icon {
          float: right;
        }
      }
      .message {
        text-align: center;
        padding: 12px;
      }
      .buttons {
        margin-bottom: 12px;
        text-align: center;
        button {
          width: 60px;
        }
      }
      background-color: @middle-background;
      border: 1px solid @chart-teal;
    }
  }
}
