.card {
  padding: 5px 10px 5px 0;
  cursor: pointer;
  height: var(--card-height);
}

.drop-target {
  height: var(--card-height);
}

.card-wrapper:hover .darkens {
  background-color: var(--dark-background);
}

.darkens:hover {
  background-color: var(--dark-background);
}

.card-top {
  padding-left: var(--padding-medium);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-top .name {
  font-size: var(--font-normal);
  font-weight: var(--font-weight-normal);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: var(--padding-small);
}

.card-top .symbol {
  padding-top: 1px;
  font-size: var(--font-xxxlarge);
  font-weight: var(--font-weight-bolder);
}

.details {
  text-align: right;
}

.price,
.delta {
  line-height: 1;
}

.price {
  font-size: var(--font-xxlarge);
  font-weight: var(--font-weight-bolder);
}

.delta,
.percentage {
  padding-right: 1px;
}

.delta {
  padding-top: 5px;
  font-size: var(--font-large);
  font-weight: var(--font-weight-normal);
}

.percentage {
  padding-top: 1px;
  font-size: var(--font-normal);
  font-weight: var(--font-weight-normal);
}

.stock-arrow {
  height: 9px;
  padding-bottom: 1px;
  padding-right: 3px;
}

button.round {
  margin-right: 0;
}

.minichartWrapper {
  flex: 1;
}

.default-background {
  background: var(--middle-background);
}

.icons {
  display: flex;
}

.icons .round:last-child {
  margin-right: 0;
}

.details-container {
  width: 70%;
}
