<div class="sidebars">
    <div class="favourites {{sidebarCtrl.favouritesClass()}}" ng-controller="FavouritesCtrl as favouritesCtrl" ng-click="sidebarCtrl.favouritesClick()">
        <div class="sidetab-top">
            <img src="assets/svg/favourite_TOP.svg" class="top-icon" />
        </div>
        <div id="favScroll" class="sideScroll custom-scrollbar">
            <div class="sidetab" ng-show="sidebarCtrl.showFavourites()">
                <div class="no-favourites" ng-show="favouritesCtrl.noFavourites()">
                    <p>You have no favourites to display.</p>
                    <p>Use the search tab to add new stocks to the list.</p>
                </div>
                <div ng-repeat="stock in favouritesCtrl.stocks | orderBy: 'index'">
                    <favourite selection="favouritesCtrl.selection()" select="favouritesCtrl.select(stock)"
                               single-click="favouritesCtrl.singleClick(stock)" double-click="favouritesCtrl.doubleClick(stock)"
                               single="favouritesCtrl.single()" stock="stock" icon="favouritesCtrl.icon(stock)">
                    </favourite>
                </div>
            </div>
        </div>
        <div ng-controller="ClosedWindowsCtrl as closedWindowsCtrl">
            <div class="favClosed">
                <icon name="closed_tabs" icon-click="closedWindowsCtrl.click(); $event.stopPropagation();"></icon>
            </div>
            <div ng-show="closedWindowsCtrl.closedTabsShow" class="favClosedCover" ng-click="closedWindowsCtrl.closedTabsShow = false">
                <div class="closedSelection">
                    <div ng-repeat="closedWindow in closedWindowsCtrl.closedWindows | orderBy:'-closed'">
                        <closed-card card-window="closedWindow"></closed-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <search class="search main-search {{sidebarCtrl.searchClass()}}" ng-click="sidebarCtrl.searchClick()"></search>
    <search class="search compact-search {{sidebarCtrl.searchClass()}}" ng-click="sidebarCtrl.searchClick()"></search>
</div>
