.expanded {
  width: @expanded-width;
}

.contracted {
  width: (@sidebar-width - @expanded-width);
}

.sidetab {
  opacity: 1;
}

.sidetab.ng-hide-remove {
  transition: all 0.1s linear 0.3s;
}

.sidetab.ng-hide-add {
  transition: all 0.1s linear;
}

.sidetab.ng-hide {
  opacity: 0;
}

.sidebars {
  width: @sidebar-width !important;
  height: 100%;
  float: left;
}

.sidetab-top {
  height: @toolbar-height;
}

.darkens:hover {
  background: @dark-background;
}

.top-icon {
  color: @icon-colour;
  float: right;
  width: 20px;
  margin-right: 15px;
  margin-top: 15px;
}
