@hover-colour: #455D63;
@flash-colour: #447272;

@-webkit-keyframes search {
  0% {
    background-color: @flash-colour;
  }

  100% {
    background-color: @search-background;
  }
}

@-webkit-keyframes favourites {
  0% {
    background-color: @flash-colour;
  }

  100% {
    background-color: @favourites-background;
  }
}

.expanded {
  width: @expanded-width;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in;
}

.search.expanded {
  -webkit-animation-name: search;
}

.favourites.expanded {
  -webkit-animation-name: favourites;
}

.contracted {
  width: (@sidebar-width - @expanded-width);
}

.favourites.contracted:hover, .search.contracted:hover {
  background: @hover-colour;
}

.sidetab {
  opacity: 1;

  &.ng-hide-remove {
    transition: all 0.1s linear 0.3s;
  }

  &.ng-hide-add {
    transition: all 0.1s linear;
  }

  &.ng-hide {
    opacity: 0;
  }
}

.sidebars {
  width: @sidebar-width !important;
  height: 100%;
  float: left;
}

.sidetab-top {
  height: @toolbar-height;
}

.darkens:hover {
  background: @dark-background;
}

.top-icon {
  color: @icon-colour;
  float: right;
  width: 20px;
  margin-right: 15px;
  margin-top: 15px;
}

#stockName {
  white-space: nowrap;
  width: 155px;
  overflow: hidden;
  text-overflow: ellipsis;
}
