.button-container {
  border: solid 1px var(--text-teal);
  font-family: var(--font-roboto-sans-serif);
  color: var(--text-teal-light);
  background-color: var(--dark-background);
  font-weight: var(--font-weight-bolder);
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}

.button-container:hover {
  color: var(--text-teal);
}

.button-container.extra-small {
  height: 30px;
  width: 130px;
  font-size: var(--font-large);
}

.button-container.small {
  height: 30px;
  width: 180px;
  font-size: var(--font-xlarge);
}

.button-container.large {
  height: 40px;
  width: 280px;
  font-size: var(--font-xxxlarge);
}

.button-container:focus {
  outline: none;
}
