button {
  border: solid 1px var(--text-teal);
  font-family: var(--font-roboto-sans-serif);
  color: var(--text-teal-light);
  background-color: var(--dark-background);
  font-weight: var(--font-weight-bolder);
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  color: #50f1d5;
  border-color: #50f1d5;
}

button.extra-small {
  height: 30px;
  width: 130px;
  font-size: var(--font-normal);
}

button.small {
  height: 30px;
  width: 138px;
  font-size: var(--font-normal);
}

button.large {
  height: 40px;
  width: 280px;
  font-size: var(--font-normal);
}

button:focus {
  outline: none;
}
