body {
  margin: 0;
  border: 1px solid #1A212A;
  background-color: rgb(40, 49, 61);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  height: 398px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #464E58;
}

::-webkit-scrollbar-thumb {
  background-color: #464E58;
  outline: 1px solid #1A212A;
  border-radius: 5px;
}

.searchResult {
  border-bottom: 1px solid #1A212A;
  color: #AEB1B5;
  margin-right: 0;
  padding: 5px 0 5px 5px;
  user-select: none;
}

.searchResult:hover {
  background-color: #464E58;
}

.searchResult:last-child {
  border-bottom: none;
}

.name {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #95989C;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #AEB1B5;
}

.containerActions {
  text-align: right;
}

.buttonAction {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  color: #95989C;
}

.buttonIcon {
  height: 20px;
  width: 20px;
}

.buttonAction:hover {
  color: #7B7E82;
}

.left .free-text-search,
.right .free-text-search {
  flex-direction: column;
  justify-content: flex-start;
}

input {
  background: #1A212A;
  color: #aeb1b5;
  border: none;
  border-radius: 20px;
  min-width: 250px;
  padding: 10px;
  margin: 0 5px;
  outline: none;
  height: 10px;
  margin: 5px;
  width: 374px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
}

div.child {
  height: calc(100vh - 2px);
}

div#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

div#searchbar-container {
  flex: 0 0 auto;
  border-bottom: 1px solid #1A212A;
}

div#results-container {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}

div#results-container p {
  text-align: center;
  color: #aeb1b5;
  font-size: 14px;
  margin-top: calc(50vh - 30px);
  padding: 0 35px;
  line-height: 1.5;
}

.search-hidden {
  visibility: hidden;
}