@toolbar-icons-width: 125px;
@toolbar-icons-margin: 15px;

#toolbar {
  height: @toolbar-height;
  right: 0px;
  left: @sidebar-width;
  position: absolute;

  .drag-left {
    position: fixed;
    height: @toolbar-height;
    right: @toolbar-icons-width;
    height: @toolbar-height;
    left: @sidebar-width;
  }

  .drag-right {
    position: fixed;
    height: @toolbar-height;
    right: 0;
    height: @toolbar-height;
    width: @toolbar-icons-margin;
  }

  .drag-top {
    position: fixed;
    height: @toolbar-icons-margin;
    right: 0px;
    height: @toolbar-icons-margin;
    width: @sidebar-width;
  }

  .drag-bottom {
    position: fixed;
    height: @toolbar-icons-margin;
    right: 0px;
    top: (@toolbar-height - @toolbar-icons-margin);
    height: @toolbar-icons-margin;
    width: @sidebar-width;
  }


  img {
    vertical-align: initial;
  }

  #logo {
    .toolbar-offset-top();
    padding-left: 35px;
  }

  .maximise-button, .compact-button, .normal_size-button, .close-button {
    .toolbar-offset-top();
  }

  .minimise-button {
    .toolbar-offset-top(10px);
  }

  .close-button {
    .right-alignment(0);
  }

  .maximise-button, .normal_size-button {
    .right-alignment(1);
  }

  .compact-button {
    .right-alignment(2);
  }

  .minimise-button {
    .right-alignment(3);
  }
}
