.form-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-view .title {
  padding: var(--padding-large);
  font-weight: var(--font-weight-bold);
}

.form-view .spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button.back {
  position: absolute;
  top: 55px;
  left: 20px;
}

button.delete {
  color: #b33838;
  border-color: #b33838;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

button.delete:hover {
  color: #ff5555;
  border-color: #ff5555;
}

.alerts-container {
  display: flex;
}
