html, body{
  overflow-x: hidden;
  overflow-y: hidden;
  background: var(--primary-dark-blue);

}

.candlestick.down{
  fill:#FF7171 ;
  stroke: #FF7171 ;
  width: 10%;
  height: 10%
}
.candlestick.up{
  fill:#78FF79  ;
  stroke: #78FF79  ;
  width: 10%;
  height: 10%;
}

.chart-content{
  height: calc(100vh - 65px) ;
  width: 100%;
}

.handle.handle--w{
  /* border-radius: 50%; */
  /* rx: 22; */
  width: .3%;
  height: 100%;
  fill: white;
}

.handle.handle--e{
  /* rx: 22; */
  /* ry: 100; */
  width: .3%;
  height: 100%;
  fill: white;
}

.selection {
shape-rendering: unset;
z-index: 100;
stroke: none;
stroke-width: 5px;
fill: #29E9E3;
fill-opacity: 0.2
}

.domain {
  stroke: white;
  stroke-width: 2
}

.tick text{
  fill: white;
  /* overflow: visible */
}

.tick path{
  stroke: white
}

/* path{
  stroke: var(--chart-teal)
} */

.line{
  stroke: #21B1CA;
  stroke-width: 1
}
  
.cartesian-chart >.plot-area {
  /* overflow: visible  !important; */
} 
