html, body{
  overflow-x: hidden;
  overflow-y: hidden;
  background: var(--primary-dark-blue);

}

.candlestick.down{
  fill:#FF7171 ;
  stroke: #FF7171 ;
  width: 10%;
  height: 10%
}
.candlestick.up{
  fill:#78FF79  ;
  stroke: #78FF79  ;
  width: 10%;
  height: 10%;
}

.chart-container{
  height:100%;
  width: 100%;
}

.chart-content{
  /*TODO: update with var for height of main-content*/
  /* position: relative; */
  height: calc(100vh - 65px) ;
  width: 100%;
  /* background: #091A29; */
  
}

.handle.handle--w{
  /* border-radius: 50%; */
  rx: 22;
  width: .5%;
  height: 100%;
  fill: white;
}

.handle.handle--e{
  rx: 22;
  /* ry: 100; */
  width: .5%;
  height: 100%;
  fill: white;
}

.selection {
shape-rendering: unset;
z-index: 100;
stroke: none;
stroke-width: 5px;
fill: #29E9E3;
fill-opacity: 0.2

}

.legend {
    margin-top: -15px;
    width: 550px;
     height: 30px; 
     border: none
}

.legend-label {
    text-anchor: end;
    font-size: 12px;
    fill:white;
  }

  .legend-value {
    font-size: 12px;
    fill: white;
  }

.domain {
  stroke: white;
  stroke-width: 2
}


.tick text{
  fill: white;
  /* overflow: visible */
}

.tick path{
  stroke: white
}

/* path{
  stroke: var(--chart-teal)
} */

.line{
  stroke: var(--chart-teal);
  stroke-width: 2
}

  :root{
    --primary-dark-blue: #1A212A;

  }

.main-chart{
  overflow: hidden !important;
} 
  
.cartesian-chart >.plot-area {
  /* overflow: visible  !important; */
} 