.securities-table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.8fr;
}

.securities-table-row:last-child > div {
  border-bottom: none;
}

.securities-table-cell {
  padding: var(--padding-medium) var(--padding-large);
  border-bottom: 1px solid var(--clr-divider-light);
  border-left: 1px solid var(--clr-divider-light);
  display: flex;
}

.securities-table-button:focus {
  outline: none;
}

.securities-table-button {
  border: none;
  background: none;
  color: var(--text-teal-light);
  cursor: pointer;
}

.securities-table-button:hover {
  color: var(--text-teal);
}

.securities-table-button.feature-off {
  color: var(--text-grey-dark);
}
