.table-body {
  border-bottom: 1px solid var(--clr-divider-dark);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  max-height: 400px;
}

/* overrides the default shifting of the scroll component */
.table-body .scrollPaddingRight:hover {
  padding-right: 0;
}

.table-body .no-securities-message {
  margin: var(--margin-large) 0 var(--margin-large) var(--margin-large);
  font-weight: var(--font-weight-bolder);
  font-size: var(--font-xxxlarge);
}

.table-body .no-securities-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  text-align: center;
  border-bottom: 1px solid var(--clr-divider-light);
}
