.side-scroll {
    padding-bottom: 0;
    border-top: 1px solid var(--dark-background);
    transition: border 0.7s;
}

.side-scroll .mCSB_scrollTools {
    left: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.side-scroll#favourite-scroll {
    position: absolute;
    top: var(--toolbar-height);
    bottom: var(--bottom-tab-height);
}

.contracted .side-scroll {
    border-top: 1px solid transparent;
}

.side-scroll:hover .mCSB_dragger_bar {
    opacity: 0.80;
}

.mCSB_dragger_bar {
    opacity: 0;
    width: 10px !important;
    height: 100% !important;
}

.favourite-scroll .mCSB_dragger_bar {
    background-color: var(--light-background) !important;
}

.search-scroll .mCSB_dragger_bar {
    background-color: var(--dark-background) !important;
}

.mCSB_draggerRail {
    display: none !important;
}

.mCSB_container {
    margin-right: 0 !important;
}
