.searchResult {
    border-bottom: 1px solid var(--clr-split-light);
    color: var(--text-grey);
    margin-right: 0;
    padding: var(--padding-small) 0 var(--padding-small) var(--padding-small);
    user-select: none;
}

.searchResult:hover {
    background-color: var(--clr-split-light)
}

.searchResult:last-child {
    border-bottom: none;
}

.name {
    font-size: var(--font-normal);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text-grey-darker);
}

.subtitle {
    font-size: var(--font-xxxlarge);
    font-weight: var(--font-weight-bolder);
    color: var(--text-grey-darkest);
}

.containerActions {
    text-align: right;
}

.buttonAction {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: var(--text-grey-darker);
}

.buttonAction:hover {
    color: var(--text-grey-darkest);
}
