body {
  background-color: rgb(40, 49, 61);
  height: calc(100vh - 2px);
  width: calc(100vw - 2px);
  border: 1px solid #45d6bc;
  padding: 0;
  margin: 0;
  border-radius: 7px;
  overflow: hidden;
  display: inline-flex;
}

.notification-icon {
  margin: auto;
  border-right: 1.5px solid #45d6bc;
}

span#message,
span#symbol,
p#title {
  color: lightgray;
  font-family: 'Roboto', sans-serif;
}

p#title {
  font-size: 9px;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 16px 9px 4px 9px;
}

p#info {
  margin-top: 11px;
}

span#message {
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}

span#symbol,
span#watchlist-name {
  padding-top: 7px;
  padding-bottom: 7px;
  color: #45d6bc;
}

span#symbol {
  padding-left: 9px;
  font-weight: 700;
}

hr {
  width: 73vw;
  margin: 0 27vw 0 0;
  border: 1.2px solid #45d6bc;
}

img {
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
  max-width: 35px;
  animation: spinYAxis 1.5s infinite linear;
}

.arrow-up {
  padding-top: 5px;
  padding-bottom: 5px;
}

@keyframes spinYAxis {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}