:root {
  /* Fonts ----------------------------*/
  /*-----------------------------------*/
  --font-roboto-sans-serif: "Roboto",
    sans-serif;

  /* Colors ---------------------------*/
  /*-----------------------------------*/
  --dragging-background: #2e5356;
  --chart-teal: #37d8bc;

  /* Dimensions -----------------------*/
  /*-----------------------------------*/
  --card-height: 109px;
  --card-width: 230px;
  --bubble-head-width: 10px;
  --bubble-head-height: 10px;

  /* Minichart Variables --------------*/
  /*-----------------------------------*/
  --minichart-width: 145px;
  --minichart-height: 40px;

  --clr-chart-teal: #37d8bc;
  --clr-chart-fade: #307a71;
  --clr-chart-stroke: var(--clr-chart-teal);

  /* Theme Variables ------------------*/
  /*-----------------------------------*/
  --chart-stroke: var(--chart-teal);

  /* Other ----------------------------*/
  /*-----------------------------------*/
  --transition-duration-quick: 0.25s;
  --transition-duration-quickest: 0.01s;
  --shadow-depth: 2px;
}
