.input-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--margin-medium) 0 var(--margin-large) 0;
}

button.delete,
button.submit {
  margin: var(--margin-small) 0;
}

button.submit.in-progress {
  outline: none;
  color: var(--text-grey-darkest);
  border-color: var(--text-grey-darkest);
}
