::-webkit-scrollbar {
    width: var(--scrollbar-width);
    background: transparent;
}

::-webkit-scrollbar-track {    
    border-radius: 0;
    background:transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    /* background-color:  var(--scroll-bar-grip); */
    background-color: rgba(98,116,130,0.8);
}