.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: var(--dark-background);
  border: solid 1px var(--text-teal);
  border-radius: 20px;
  transition: all 0.3s;
  margin: auto 145px auto var(--margin-small);
  cursor: pointer;
}

.toggle-switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--text-teal-light);
  top: 1px;
  left: 1px;
  opacity: 0.3;
  transition: all 0.3s;
}

.toggle:checked + .toggle-switch::after {
  left: 20px;
  opacity: 1;
}

.toggle:checked + .toggle-switch {
  background-color: var(--text-teal);

  opacity: 1;
}

.toggle {
  display: none;
}
