.newsitem {
    display: flex;
    height: var(--newsitem-height);
    color: white;
    cursor: pointer;
}

.newsitem:not(:first-child) {
    border-top: 1px solid var(--chart-teal);
}

.newsitem:hover {
    background-color: var(--middle-background-light);
}

.source {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 0 5px;
    text-align: center;
}

.source svg {
    height: 18px;
    width: 18px;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: 10px;
    width: 75%;
}

.headline {
    font-size: var(--font-xlarge);
    text-transform: capitalize;
    font-weight: var(--font-weight-bold);
}

.summary, .headline {
    flex-basis: 100%;
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.summary {
    font-size: var(--font-large);
}
