.closedtime {
  font-size: 12px;
  font-weight: 100;
  line-height: 1.4;
}

.closedstock {
  font-size: 13px;
}

.closedcard {
  height: 60px;
  border-bottom: 1px solid @separator-colour;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  cursor: default;
}

.closedcard:hover {
  background: @dark-background;
}