.close {
  background: none;
  color: var(--text-teal-light);
  border: solid 1px var(--text-teal);
  border-radius: 20px;
  width: 40px;
  height: 40px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.close:hover {
  background-color: var(--middle-background-light);
}

.close:active {
  background-color: var(--middle-background-lighter);
}
