@search-result-height: 60px;
@search-splitter-style: 1px solid @separator-colour;

.search {
  float: left;
  height: 100%;
  background-color: @search-background;
  transition: @transition;
  position: absolute;
  box-shadow: 2px 0px 2px @dark-background;

  icon {
    display: none;
  }

  input {
    border: none;
    background: transparent;
    transition: @transition;
    .font(12px);
    color: @icon-colour;
    width: 184px;
    padding-left: 15px;
    padding-top: 16px;

    &:focus {
      outline: none;
    }
  }

  .no-results {
    color: @icon-colour;
    padding-left: 12px;
    .font(14px);
  }

  .sidetab > div:first-of-type search .search-result {
    border-top: @search-splitter-style;
  }

  .search-result {
    height: @search-result-height;
    width: @expanded-width;
    border-bottom: @search-splitter-style;

    .name {
      .font(12px, @font-thin);
    }

    .code {
      .font(20px, @font-medium, 1.4);
    }

    .details {
      position: relative;
      float: left;
      padding-left: 20px;
      padding-top: 8px;
    }

    .star-icon {
      padding-right: 15px;
      padding-top: 21px;
      float: right;
    }
  }
}
