.compact-search {
  display: none;
}

.compact {
  #search-scroll {
    .position(absolute, @top: 35px, @bottom: 0px);
  }

  .compact-search {
    display: block;

    &.expanded icon {
      display: block;

      .close-button {
        .position(relative, @top: -16px, @right: 7px);
        float: right;
      }
    }

    &.search .search-result.selected.dark {
      background-color: transparent;

      &.darkens:hover {
        background-color: @dark-background;
      }
    }
  }

  .main-search {
    display: none;
  }
}
