.compact-search {
  display: none;
}

.compact {
  .compact-search {
    display: block;
  }

  .compact-search.expanded {
    icon {
      display: block;

      #close-button {
        position: relative;
        float: right;
        top: -16px;
        right: 7px;
      }
    }
  }

  .main-search {
    display: none;
  }
}
