.compact-search {
  display: none;
}

.compact {
  #search-scroll {
    top: 35px;
    bottom: 0px;
    position: absolute;
  }

  .compact-search {
    display: block;

    &.expanded {
      icon {
        display: block;

        .close-button {
          position: relative;
          float: right;
          top: -16px;
          right: 7px;
        }
      }
    }

    &.search {
      .search-result {
        &.selected.dark {
          background-color: @light-background;
        }
      }
    }
  }

  .main-search {
    display: none;
  }
}
