:root {
  /* colours */
  --text-grey-darkest: #626569;
  --text-grey-darker: #7B7E82;
  --text-grey-dark: #95989C;
  --text-grey: #AEB1B5;
  --text-grey-light: #C8CBCF;
  --text-grey-lighter: #E1E4E8;

  --lightest-background: #79818B;
  --lighter-background: #606872;
  --light-background: #464E58;
  --middle-background: #28313D;
  --dark-background: #1A212A;
  --clr-split: #323a48;

  /* dimensions */
  --expanded-width: 230px;
  --toolbar-height: 50px;
  --search-result-height: 60px;
  --icons-size: 30px;
  --titlebar-height: 35px;
  --bottom-tab-height: 40px;
  --scrollbar-width: 12px;

  /* transitions  */
  --icon-transition-duration: 0.5s;

  /* font-weight */
  --font-thin: 100;
  --font-light: 300;
  --font-medium-light: 400;
  --font-medium: 500;

  /* font-size */
  --font-normal: 12px;
  --font-large: 14px;
  --font-xlarge: 16px;
  --font-xxlarge: 18px;
  --font-xxxlarge: 20px;

  /* font-weight */
  --font-weight-normal: 300;
  --font-weight-bold: 400;
  --font-weight-bolder: 500;

  /* padding */
  --padding-small: 5px;
  --padding-medium: 10px;
  --padding-large: 15px;

  /* margin */
  --margin-small: 5px;
  --margin-medium: 10px;
  --margin-large: 15px;

  --clr-divider-dark: var(--clr-dark-background);
  --clr-divider-light: var(--clr-split);
}
