:root {
  /* colours */
  --text-grey: #AEB1B5;
  --light-background: #464E58;
  --middle-background: #28313D;
  --dark-background: #1A212A;
  --separator-colour: #5B626B;
  --search-background: var(--light-background);

  /* dimensions */
  --expanded-width: 230px;
  --toolbar-height: 50px;
  --search-result-height: 60px;
  --icons-size: 30px;
  --titlebar-height: 34px;
  --scrollbar-width: 16px;
  --bottom-tab-height: 40px;

  /* transitions  */
  --icon-transition-duration: 0.5s;

  /* font-weight */
  --font-thin: 100;
  --font-light: 300;
  --font-medium-light: 400;
  --font-medium: 500;

  /* font-size */
  --font-normal: 12px;
  --font-large: 14px;
  --font-xlarge: 16px;
  --font-xxlarge: 18px;
  --font-xxxlarge: 20px;
}
