.delete {
  color: var(--error-red-light);
  border-color: var(--error-red-light);
  position: absolute;
  right: var(--button-offset);
  bottom: var(--button-offset);
}

.delete:hover {
  color: var(--error-red-light);
  border-color: var(--error-red-light);
}
