#charts-container, #overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#charts-container #primary-container, 
#charts-container #overlay-primary-container, 
#overlay #primary-container, 
#overlay #overlay-primary-container {
    width: 100%;
    flex: 5;
}

#charts-container .secondary-container, 
#charts-container .overlay-secondary-container, 
#overlay .secondary-container, 
#overlay .overlay-secondary-container {
    flex: 1;
}

#charts-container .x-axis-row, 
#overlay .x-axis-row {
    flex: 0 0 var(--x-axis-height);
    display: flex;
    flex-direction: row;
}

#charts-container .x-axis-row #x-axis-container, 
#overlay .x-axis-row #x-axis-container {
    flex: 1;
    height: var(--x-axis-height);
    margin-right: var(--y-axis-width);
}

#charts-container #navbar-row, 
#charts-container #overlay-navbar-row, 
#overlay #navbar-row, 
#overlay #overlay-navbar-row {
    flex: 0 0.5 var(--navigator-height);
    display: flex;
    flex-direction: row;
}

#charts-container #navbar-row #navbar-container, 
#charts-container #overlay-navbar-row #navbar-container, 
#overlay #navbar-row #navbar-container, 
#overlay #overlay-navbar-row #navbar-container {
    flex: 1;
    max-height: var(--navigator-height);
    margin-right: var(--y-axis-width);
}

#charts-container #navbar-row #navbar-container .cartesian-chart, 
#charts-container #overlay-navbar-row #navbar-container .cartesian-chart, 
#overlay #navbar-row #navbar-container .cartesian-chart, 
#overlay #overlay-navbar-row #navbar-container .cartesian-chart {
    display: block;
}
