#navbar-row {
  .phone-portrait-display(@phone-portrait-nav-display);
  .phone-landscape-display(@phone-landscape-nav-display);
  .tablet-portrait-display(@tablet-portrait-nav-display);
  .tablet-landscape-display(@tablet-landscape-nav-display);

  display: flex;

  #navbar-container {
    min-height: @navigator-height;
    margin-right: 0 !important;
    overflow: visible;

    .extent {
      fill: @secondary-orange;
      stroke: none;
    }

    .background {
      fill: @navigator-background-colour;
      stroke: @gridline-colour;
      stroke-width: @navigator-background-stroke-width;
    }

    .cartesian-chart {
      overflow: visible;

      .plot-area-container {
        .plot-area {
          overflow: visible;

          .multi {
            .area {
              fill: @gridline-colour;
            }
            path {
              stroke: @navigator-colour;
              stroke-width: @navigator-stroke;
            }
          }
          .n, .s, .ne, .nw, .se, .sw {
            display: none; // Hide elements. Gave false impression of resizing ability.
          }
          .e, .w {
            > rect {
              fill: @navigator-stroke-colour;
              stroke-width: 0;
              visibility: visible !important;
            }
            .outer-handle {
              stroke: @primary-white;
              fill: @primary-dark-blue;
              shape-rendering: auto;
            }
            .inner-handle {
              stroke: @primary-white;
              fill: @primary-white;
              shape-rendering: auto;
            }
          }

        }
      }

    }

    text {
      font-size: @font-size-base;
      fill: @font-colour;
    }

    #brush-mask {
      .mask-background {
        fill: @mask-transparent;
      }

      .line {
        stroke-width: 1.2px;
        stroke: @primary-white;
      }
    }

    #brush-gradient {
      // To change the gradient offsets, edit nav.js
      .brush-gradient-top {
        stop-color: darken(@mask-opaque, 40%);
      }

      .brush-gradient-bottom {
        stop-color: @mask-transparent;
      }
    }
  }

  #navbar-reset {
    flex: 0 0 32px;
    height: 40px;
    opacity: 0.2;
    margin: 10px 12px 0 15px;

    .reset-button {
      stroke: @primary-white;
      fill: @primary-dark-blue;
      shape-rendering: auto;
      cursor: pointer;

      &.active {
        fill: @primary-white;
      }
    }
  }
}
