#secondaries-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .secondary-container {
    flex: 1;
    height: 100%;
    width: 100%;
  }

  .background {
    stroke: @gridline-colour;
  }
  .annotations {
    .annotation line {
      stroke: @gridline-colour;
      stroke-dasharray: 8;
    }
  }
  .x-axis {
    path {
      stroke: @gridline-colour;
    }
  }

  .right-handle {
    text {
      display: none;
    }

    .indicator {
      stroke: @rsi-line-colour;
      stroke-width: @stroke-width;
    }
  }

  .secondary-rsi .rsi {
    stroke: @rsi-line-colour;
  }

  .secondary-macd {
    .macd-divergence {
      .bar {
        stroke: @primary-blue;
        fill: @secondary-grey;
      }
    }

    .macd-signal {
      .line {
        stroke: @macd-signal-line-colour;
        stroke-width: @stroke-width;
      }
    }

    .macd {
      .line {
        stroke: @macd-line-colour;
        stroke-width: @stroke-width;
      }
    }
    .zero {
      .annotation line {
        visibility: hidden;
      }
    }
  }

  .secondary-volume {
    .bar {
      stroke: @primary-blue;
      fill: @secondary-grey;
    }
  }
}
