.selectors {
    position: absolute;
    display: flex;
    left: 8px;
}
  
.selectors .indicator-dropdown a {
    padding-left: 10px;
    padding-right: 10px;
}
  
.selectors .selector-dropdown:first-child .dropdown-toggle {
    width: 50px;
}
  
.selectors .selector-dropdown:nth-child(2) .dropdown-toggle {
    font-size: var(--font-size-small);
    color: var(--primary-blue);
}
  
.selectors .dropdown-toggle {
    border: 1px solid var(--secondary-grey);
    height: 34px;
    pointer-events: auto;
}
  
.selectors .dropdown-toggle > .icon {
    vertical-align: middle;
    display: inline-block;
}
  
.selectors .dropdown-menu {
    top: 40px;
}
  
.selectors ul {
    text-align: left;
    pointer-events: auto;
}
  
.selectors li .icon {
    vertical-align: middle;
    margin-right: 16px;
    display: inline-block;
}

.selectors button {
    cursor: pointer;
}