.tool-tip {
  position: relative;
  display: inline-block;
}

.tool-tip .message {
  visibility: hidden;
  background-color: var(--dark-background);
  color: var(--text-grey-lighter);
  text-align: center;
  border-radius: 6px;
  padding: var(--padding-small) var(--padding-medium);
  position: absolute;
  bottom: 0;
  right: 105%;
}

.tool-tip .message:after {
  content: ' ';
  position: absolute;
  top: 30%;
  left: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--dark-background);
}

.tool-tip:hover .message {
  visibility: visible;
}

.tool-tip:hover .message:hover {
  visibility: hidden;
}
