.tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.8fr;
  height: 36px;
  font-size: var(--font-medium);
}

.tr .td {
  padding: var(--padding-small) var(--padding-large);
  display: flex;
  align-items: center;
}

.table button:focus {
  outline: none;
}

.table button {
  border: none;
  background: none;
  color: var(--text-teal-light);
  opacity: 0.8;
  cursor: pointer;
}

.table button:hover {
  color: #55ffe1;
  opacity: 1;
}

.buttons {
  margin: auto;
}

.tr:nth-child(even) {
  background: #28313d;
}

.tr:nth-child(even) .td {
  border-left: 1px solid #323a48;
}

.tr:nth-child(odd) {
  background: #323a48;
}

.tr:nth-child(odd) .td {
  border-left: 1px solid #28313d;
}

.tr:hover {
  background-color: #3c4656;
}

.td:first-child {
  border-left: none;
}
