body {
    -webkit-user-select: none;
}

#app, .main, body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    background-color: #0D2437;
    padding: 0;
    height: 100vh
}
.main-content {
    height: 90px;
}

.chart-info {
    position: absolute; 
    right: 0px;
    margin-right: 24px;
    height: 28px;
    width: 100px;
    display: flex;
    align-items: center;
}


.symbol-info{
    position: absolute;
    top: 10vh;
    left: 5vw;
    width: 10vw;
}
.d3fc-button {
    position: absolute;
    right: 0px;
    fill:white
    
}
.chart-tool{
    color: white;
}

#showcase-container {
    margin: 0px 0px 0px 30px;
    height: 80%;
    width: 95%
}
#navigation-container {
    background: #091A29;
    height: 20%;

}
#navigation-container .y-axis {
    visibility: hidden;
}

#showcase-container .row.primary-row {
    margin-left: -5px;
}

.button-icon {
    display: inline-block;
    width: var(--icons-size);
    height: 100%;
    background-position: 50% 80%;
    background-repeat: no-repeat;
    transition: var(--icon-transition-duration) all;
    cursor: pointer;
}

.disable-transitions {
    transition: none !important;
}

.disable-pointer {
    pointer-events: none;
}

#showcase-title {
    color: white;
    display: flex;
    align-items: center;
    height: 55px;
}
.code{
    color:white;
    position: relative;
    top: 0px;
}

.name {
    color: white;
    position: relative;
    display: inline;
    top: 0px;
}

#showcase-title .code {
    font-size: 18px;
    font-weight: var(--font-weight-normal);
}

#showcase-title  .name {
    font: 18px var(--font-weight-normal);
}

.chart-nav-icons {
    position: absolute; 
    right:0px;
    padding-right:24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chart-nav-icon svg {
    fill: var(--chart-teal);
    padding-right: 10px;
    height: 20px;
    width: 30px;
    shape-rendering: geometricprecision;
    cursor: pointer;
}

.chart-nav-icon:not(.icon-disabled):hover svg {
    fill: var(--chart-teal-lighter);
}

.chart-nav-icon.icon-disabled svg {
    cursor: not-allowed;
    opacity: 0.4;
}

.no-favourites-image {
    max-width: 1060px;
    max-height: 500px;
    width: 100%;
    position: relative;
    -webkit-user-drag: none;
}

.close.button-icon, .close.button-icon:hover {
    opacity: 1;
}
