#primary-container {
    background-color: var(--primary-dark-blue);
}

#primary-container path.line {
    stroke: var(--series-colour);
    stroke-width: 1px;
}

#primary-container path.line.movingAverage {
    stroke: var(--moving-average-colour);
}

#primary-container path.down {
    stroke: var(--candlestick-down-stroke);
    stroke-width: 1px;
    fill: var(--candlestick-down-fill);
}

#primary-container path.up {
    stroke: var(--candlestick-up-stroke);
    stroke-width: 1px;
    fill: var(--candlestick-up-fill);
}

#primary-container .upper>path.line {
    stroke: var(--bollinger-upper-colour);
    stroke-width: 1px;
}

#primary-container .lower>path.line {
    stroke: var(--bollinger-lower-colour);
    stroke-width: 1px;
}

#primary-container .area>path.area {
    fill: var(--bollinger-fill-colour);
}

#primary-container .average>path.line {
    stroke: var(--bollinger-average-colour);
    stroke-dasharray: 5;
}

#primary-container .area {
    shape-rendering: auto;
}

#primary-container .primary-area-series-gradient-top {
    stop-color: var(--area-fill-top);
}

#primary-container .primary-area-series-gradient-bottom {
    stop-color: var(--area-fill-bottom);
}

#primary-container .point {
    stroke: var(--series-colour);
    fill: var(--series-colour);
    shape-rendering: auto;
}

#primary-container .gridline {
    stroke: var(--secondary-grey);
}

#primary-container .background {
    stroke: var(--secondary-grey);
    stroke-width: 1px;
}

#primary-container .ohlc {
    stroke: var(--series-colour);
    stroke-width: 1px;
}

#primary-container .crosshair {
    display: flex;
}

#primary-container .crosshair .point {
    fill: var(--tertiary-blue);
    fill-opacity: 0.75;
    stroke: hsla(170, 67%, 53%, 0.2);
    shape-rendering: auto;
}

#primary-container .crosshair .annotation>line {
    stroke: var(--tertiary-blue);
    stroke-dasharray: 3, 10;
}

#primary-container .crosshair.band .point,
#primary-container .crosshair.band .annotation.horizontal {
    display: none !important;
}

#primary-container .crosshair.band .annotation>line {
    stroke: rgba(55, 216, 188, 0.2);
    stroke-dasharray: 0;
}