{
    "globals": {
        "angular": true,
        "moment":  true,
        "fin": true,
        "window": true,
        "jQuery": true,
        "bitflux": true,
        "d3": true,
        "fc": true,
        "document": true,
        "confirm": true,
        "Event": true,
        "localStorage": true,
        "$q": true,
        "reportAction": true
    }
}
