{
    "globals": {
        "angular": true,
        "moment":  true,
        "fin": true,
        "window": true,
        "jQuery": true,
        "sc": true,
        "d3": true,
        "fc": true,
        "document": true,
        "confirm": true,
        "Event":  true
    }
}
