<!DOCTYPE HTML>
<html lang="en" ng-app="OpenFinD3FC">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenFin D3FC</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-cloak ng-controller="SearchCtrl as searchCtrl">
    <div class="container-fluid main">
        <div class="sidebars" ng-controller="SidebarCtrl as sidebarCtrl">
            <div class="search" ng-click="sidebarCtrl.searchClick()" ng-style="{'width': sidebarCtrl.searchWidth()}">
                <div class="row preview-top">
                    <div class="col-xs-10" style="padding:0px">
                        <div class="input-group" style="width: 100%">
                            <form class="form-horizontal" ng-submit="searchCtrl.submit()">
                                <input type="text" class="form-control" maxlength="50" placeholder="Enter stock name or symbol"
                                       ng-style="{'opacity': sidebarCtrl.searchBarOpacity()}" ng-model="searchCtrl.query" />
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-2" style="padding:0px">
                        <div class="glyphicon glyphicon-search pull-right" style="padding:10px" ng-click="searchCtrl.submit()"></div>
                    </div>
                </div>
            </div>
            <div class="favourites" ng-click="sidebarCtrl.favouritesClick()"
                 ng-style="{'width': sidebarCtrl.favouritesWidth()}" ng-controller="PreviewCtrl as previewCtrl">
                <div class="row preview-top">
                    <div class="glyphicon glyphicon-star pull-right" style="padding:10px"></div>
                </div>
                <div class="previews" ng-repeat="stock in previewCtrl.stocks" ng-style="{'opacity': sidebarCtrl.previewsOpacity()}">
                    <preview-tabs stock="stock" bell-style="previewCtrl.bellStyle(stock)" 
                                  bell-click="previewCtrl.bellClick(stock)"></preview-tabs>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="row">
                <div class="col-sm-12">
                    <a ng-href="#/" class="svg logo" draggable="false" ng-click="searchCtrl.clear()">
                        <img src="logo.svg" />
                    </a>
                </div>
            </div>
            <br>

            <div ng-view></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
    <script src="app.js"></script>
    <script src="thumbnails/thumbnails-controller.js"></script>
    <script src="tearout/tearout.js"></script>
    <script src="tearout/geometry.js"></script>
    <script src="tearout/drop-target.js"></script>
    <script src="sidebars/sidebar-controller.js"></script>
    <script src="sidebars/previews/previews.js"></script>
    <script src="sidebars/search/search-controller.js"></script>
    <script src="sidebars/search/stock-controller.js"></script>
    <script src="services/openfin-service.js"></script>
    <script src="services/store-service.js"></script>
    <script src="services/quandl-service.js"></script>
</body>
</html>
