﻿﻿<!DOCTYPE HTML>
<html lang="en" ng-app="OpenFinD3FC">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenFin D3FC</title>
    <link href="assets/css/style.css" rel="stylesheet" >
    <link href="assets/css/d3fc.min.css" rel="stylesheet" />
    <link href="assets/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-cloak>
    <div class="container-fluid main" ng-controller="MainCtrl as mainCtrl">
        <div class="sidebars" ng-controller="SidebarCtrl as sidebarCtrl">
            <div class="favourites" ng-controller="FavouritesCtrl as favouritesCtrl" ng-click="sidebarCtrl.favouritesClick()"
                 ng-style="{'width': sidebarCtrl.favouritesWidth()}">
                <div class="row sidetab-top">
                    <div class="glyphicon glyphicon-star top-icon"></div>
                </div>
                <div id="favScroll" class="sideScroll">
                    <div class="sidetab" ng-style="{'width': sidebarCtrl.largeBarWidth}" ng-repeat="stock in favouritesCtrl.stocks"
                         ng-show="sidebarCtrl.showFavourites()">
                        <favourite selection="mainCtrl.selection" select="mainCtrl.select(stock)"
                                   stock="stock" icon="favouritesCtrl.icon(stock)" render-chart="favouritesCtrl.renderChart(stock)">
                        </favourite>
                    </div>
                </div>
            </div>
            <div class="search" ng-controller="SearchCtrl as searchCtrl" ng-click="sidebarCtrl.searchClick()" ng-style="{'width': sidebarCtrl.searchWidth()}">
                <div class="row sidetab-top">
                    <div class="glyphicon glyphicon-search top-icon"></div>
                    <div class="input-group sidetab" ng-show="sidebarCtrl.showSearches()">
                        <form class="form-horizontal">
                            <input type="text" class="form-control" maxlength="20" placeholder="Enter stock name or symbol"
                                   ng-show="sidebarCtrl.showSearches()" ng-model="searchCtrl.query" />
                        </form>
                    </div>
                </div>
                <div id="searchScroll" class="sideScroll">
                    <div class="sidetab" ng-show="sidebarCtrl.showSearches()">
                        <div ng-style="{'width': sidebarCtrl.largeBarWidth}" ng-repeat="stock in searchCtrl.stocks"
                             ng-mouseenter="stock.isHovered = true;" ng-mouseleave="stock.isHovered = false;">
                            <search stock="stock" selection="mainCtrl.selection" select="mainCtrl.select(stock)"></search>
                        </div>
                        <div class="no-results" ng-show="searchCtrl.noResults">
                            Oops!<br>
                            Looks like no matches were found.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-content">
            <div class="main-content">
                <showcase selection="mainCtrl.selection"></showcase>
            </div>
            <div id="toolbar">
                <a ng-href="#/" id="logo" class="logo">
                    <img src="assets/svg/logo_small.svg" />
                </a>
                <a id="minimizeWindow" class="min-button" onclick="fin.desktop.Window.getCurrent().minimize();">
                    <img src="assets/svg/minimize.svg" />
                </a>
                <a id="closeWindow" class="close-button"
                   onclick="fin.desktop.Window.getCurrent().close();">
                    <img src="assets/svg/close.svg" />
                </a>
                <div class="drag"></div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.mCustomScrollbar.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-resource.min.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/angular-animate.min.js"></script>
    <script src="assets/js/angular-storage.min.js"></script>
    <script src="assets/js/d3fc.bundle.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="customScroller.js"></script>
    <script src="app.js"></script>
    <script src="main-controller.js"></script>
    <script src="sc.js"></script>
    <script src="showcase/showcase-directive.js"></script>
    <script src="sidebars/sidebar-controller.js"></script>
    <script src="sidebars/favourites/favourite-controller.js"></script>
    <script src="sidebars/favourites/favourite-directive.js"></script>
    <script src="sidebars/favourites/minichart/minichart-controller.js"></script>
    <script src="sidebars/favourites/minichart/minichart-directive.js"></script>
    <script src="sidebars/search/search-controller.js"></script>
    <script src="sidebars/search/search-directive.js"></script>
    <script src="sidebars/filters.js"></script>
    <script src="sidebars/star/star-controller.js"></script>
    <script src="sidebars/star/star-directive.js"></script>
    <script src="services/store-service.js"></script>
    <script src="services/quandl-service.js"></script>
</body>
</html>
