// Override d3fc-showcase colours
@primary-dark-blue: @dark-background;
@secondary-orange: @chart-teal;

.head-row {
  display: none;
}

.primary-row {
  margin-top: 54px !important;
}

#selectors {
  top: -60px;
  left: 0px;
}

#app-container {
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  width: 100%;
}
