@import "../../../node_modules/d3fc-showcase/src/assets/styles/style.less";

.row {
    margin-left: 0px;
}

a.svg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

a.svg {
    display: block;
    position: relative;
}

.thumbnail {
    text-align: center;
}

#search {
    cursor: wait;
}
