// Colours
@middle-background: #28313D;
@dark-background: #1A1F26;
@search-color: #464E59;
@separator-color: #5B626B;
@icon-color: #AEB1B5;
@chart-teal: #42D8BD;
@chart-fade: #427075;

// Override d3fc-showcase
@primary-dark-blue: @dark-background;
@secondary-orange: @chart-teal;

// Transition
@transition: all 0.2s linear 0.1s;

// Widths
@search-sidebar-width: 271px;
@main-content-left-padding: (@search-sidebar-width + 9);