.containerList {
    overflow-y: auto;
    max-height: 330px;
    background-color: #F7F7F7;
}

.input {
    height: 35px;
    width: 100%;
    outline: none;
    background-color: white;
    border: none;
    border-bottom: 1px solid var(--clr-split-light);
    padding-left: var(--padding-small);
    font-size: var(--font-large);
    font-weight: var(--font-weight-bold);
    color: var(--text-grey-darker);
}

.message {
    text-align: center;
    color: var(--text-grey-darker);
    font-weight: var(--font-weight-bold);
    padding: var(--padding-medium) 0;
}
