.x-axis-row {
    height: var(--x-axis-height);
}
.x-axis-row .chart {
    padding-right: var(--y-axis-width);
}
  
#x-axis-container .tick text {
      font-weight: var(--font-weight-base);
      line-height: var(--line-height-base);
      fill: var(--font-colour);
}

#x-axis-container .tick text .axis-label-main {
    font-size: var(--font-size-base);
}
#x-axis-container .tick text .axis-label-secondary {
    font-size: var(--font-size-small);     
}
  
#x-axis-container .tick path, 
#x-axis-container line {
    stroke: var(--gridline-colour);
}

#x-axis-container .domain {
    stroke: var(--gridline-colour);
}
#x-axis-container .axis-adapter .tick text {
    font-size: var(--font-size-small);
}
  
.axis-adapter .domain {
    stroke: var(--gridline-colour);
}

.axis-adapter path {
    stroke: var(--gridline-colour);
}
  
.y-axis .tick text {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);
    line-height: var(--line-height-base);
    fill: var(--font-colour);
}
.y-axis .tick path {
    stroke: var(--gridline-colour);
}
.y-axis .domain {
    stroke: var(--gridline-colour);
}