.bf-icon-andrews-pitchfork-tool {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 22.55639097744361% 44.44444444444444%;
	width: 30px;
	height: 25px;
}

.bf-icon-annotations-tool {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 58.64661654135338% 27.77777777777778%;
	width: 30px;
	height: 25px;
}

.bf-icon-area-series {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 100% 27.77777777777778%;
	width: 25px;
	height: 25px;
}

.bf-icon-arrow-line-tool {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 0 44.44444444444444%;
	width: 30px;
	height: 25px;
}

.bf-icon-bar-series {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 100% 0;
	width: 25px;
	height: 25px;
}

.bf-icon-bollinger-bands-indicator {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 72.46376811594203% 100%;
	width: 25px;
	height: 25px;
}

.bf-icon-candlestick-series {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 36.231884057971016% 100%;
	width: 25px;
	height: 25px;
}

.bf-icon-delete {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 93.87755102040816% 75.75757575757575%;
	width: 16px;
	height: 16px;
}

.bf-icon-ellipse-tool {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 22.55639097744361% 72.22222222222223%;
	width: 30px;
	height: 25px;
}

.bf-icon-fibonacci-arc-tool {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 45.11278195488722% 72.22222222222223%;
	width: 30px;
	height: 25px;
}

.bf-icon-fibonnacci-fan-tool {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 81.203007518797% 0;
	width: 30px;
	height: 25px;
}

.bf-icon-fibonnacci-retracement-tool {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 0 72.22222222222223%;
	width: 30px;
	height: 25px;
}

.bf-icon-freeform-tool {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 36.090225563909776% 0;
	width: 30px;
	height: 25px;
}

.bf-icon-line-series {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 78.26086956521739% 55.55555555555556%;
	width: 25px;
	height: 25px;
}

.bf-icon-macd-indicator {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 0 100%;
	width: 25px;
	height: 25px;
}

.bf-icon-moving-average-indicator {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 18.115942028985508% 100%;
	width: 25px;
	height: 25px;
}

.bf-icon-navigator-handle {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 93.87755102040816% 91.91919191919192%;
	width: 16px;
	height: 16px;
}

.bf-icon-ohlc-series {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 78.26086956521739% 27.77777777777778%;
	width: 25px;
	height: 25px;
}

.bf-icon-point-series {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 54.34782608695652% 100%;
	width: 25px;
	height: 25px;
}

.bf-icon-rectangle-tool {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 58.64661654135338% 0;
	width: 30px;
	height: 25px;
}

.bf-icon-reset-active {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 17.26618705035971% 0;
	width: 24px;
	height: 40px;
}

.bf-icon-reset-inactive {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 0 0;
	width: 24px;
	height: 40px;
}

.bf-icon-rsi-indicator {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 100% 55.55555555555556%;
	width: 25px;
	height: 25px;
}

.bf-icon-settings {
	background: url("bf-icon-sprite-2e25a6ae.svg") no-repeat;
	background-position: 99.35483870967742% 70.09345794392523%;
	width: 8px;
	height: 8px;
}