.stockflux-todo {
  height: 100%;
  background-color: var(--middle-background);
}

.header {
  font-size: var(--font-xxxlarge);
  color: var(--text-grey-lighter);
  font-weight: var(--font-weight-bolder);
  padding: 12px;
  display: flex;
  height: var(--header-height);
  border-bottom: 1px solid var(--dark-background);
}

.container {
  max-height: 700px;
  height: calc(100vh - (var(--header-height) + var(--titlebar-height)));
}

.todo-filter-container {
  font-size: var(--font-xlarge);
  color: var(--text-grey);
}

.todo-input-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-input-container input[type=text] {
  background: var(--dark-background);
  color: var(--text-teal-light);
  border: solid 2px var(--text-teal);
  border-radius: 20px;
  height: 30px;
  width: 33%;
  min-width: 250px;
  padding: 10px;
  margin: 0 5px;
  outline: none;
}
