* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  --header-height: 50px;
  --titlebar-height: 35px;
  --todoitem-height: 75px;
  --no-article-height: 30px;
  --dragging-background: #2e5356;
}