@favourite-height: 100px;
@favourite-padding-left: 0px;
@favourite-padding-top: 5px;
@favourite-padding-right: 4px; // not sure why this isn't 5
@favourite-padding-bottom: 10px;
@top-height: 30px;
@fav-split-color: #323A48;

.favourites {
  float: right;
  height: 100%;
  background-color: @favourites-background;
  transition: @transition;
}

.hover-area {
  background-color: @fav-split-color;
  height: 1px;
}

.drop-target {
  height: @favourite-height;
  background-color: #2E5356;
}

// Don't nest this as it is the root element of the injected HTML for tearout windows
.favourite {
  padding-top: @favourite-padding-top;
  padding-bottom: @favourite-padding-bottom;
  padding-right: @favourite-padding-right;
  padding-left: @favourite-padding-left;
  background-color: @middle-background;
  height: @favourite-height;
  width: @expanded-width;

  .top {
    padding-left: 10px;
    transition: @transition;
  }

  .bottom {
    padding-top: 1px;
  }

  .star, .tearable {
    float: right;
  }

  .tearable {
    width: 16px;
    margin-left: 5px;
    cursor: move;
  }

  .single {
    cursor: default;
  }

  .name {
    .font(12px, @font-thin, 1.4);
  }

  .details {
    float: right;
    text-align: right;
    padding-top: 1px;

    .price {
      .font(18px, @font-medium, 1.0);
    }

    .delta {
      padding-top: 4px;
      .font(14px, @font-light, 1.0);
    }

    .delta, .percentage {
      padding-right: 1px;
    }

    .stock-arrow {
      height: 9px;
      padding-bottom: 1px;
      padding-right: 3px;
    }

    .percentage {
      display: inherit;
      .font(12px, @font-light, 1.2);
    }
  }

  .code {
    padding-top: 1px;
    .font(20px, @font-medium, 1.0);
  }
}

.scroll-padding:hover .top {
  padding-left: 20px !important;
}

.dark {
  background: @dark-background;
}
