input {
  color: white;
  border: solid 1px var(--text-teal);
  font-size: var(--font-large);
  background-color: var(--dark-background);
  border-radius: var(--border-radius);
  padding: var(--padding-small) var(--padding-medium);
  margin: 0 0 var(--margin-small) 0;
}

.edit-form input.disabled {
  color: var(--text-grey);
  cursor: not-allowed;
  border: solid 1px var(--text-grey-darkest);
  user-select: none;
}

input:focus {
  outline: none;
}
