.free-text-search {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.free-text-search input {
  background: var(--dark-background);
  color: var(--text-teal-light);
  border: solid 2px var(--text-teal);
  border-radius: 20px;
  height: 30px;
  width: 33%;
  min-width: 250px;
  padding: 10px;
  margin: 0 5px;
  outline: none;
}

.left .free-text-search,
.right .free-text-search {
  flex-direction: column;
  justify-content: flex-start;
}

.left .free-text-search input,
.right .free-text-search input {
  display: none;
}
