.free-text-search {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.free-text-search input {
  background: var(--dark-background);
  color: var(--text-teal-light);
  border: var(--border);
  border-radius: 20px;
  height: var(--search-input-height);
  width: var(--search-input-width);
  min-width: var(--search-input-min-width);
  padding: var(--padding-medium);
  margin: 0 5px;
  outline: none;
}

.left .free-text-search,
.right .free-text-search {
  flex-direction: column;
  justify-content: flex-start;
}

.left .free-text-search input,
.right .free-text-search input {
  display: none;
}

div#root > .free-text-search {
  padding: 8px 10px 8px 0;
  width: var(--search-input-width);
  /*position: fixed;*/
  background-color: var(--middle-background);
  border-bottom: 1px solid var(--clr-divider-light);
}

div#root > .spinner {
  margin: calc(var(--search-input-width) / 2 - 15px);
  position: fixed;
}

div#root > .cards.padding-top {
  padding-top: calc(var(--search-input-height) + 18px);
}
